# Ignore node_modules
node_modules

# Ignore build outputs
dist
build

# Ignore environment files (secrets)
.env
*.env
.env.*

# Ignore local Angular cache
.angular/cache

# Ignore git files
.git
.gitignore

# Ignore IDE files
.idea
.vscode
*.swp
*.swo

# Ignore test files
*.spec.ts
coverage


